.respo-next2{
    display: block;
  }

  .respo-next{
    display: none;
  }


.panel{
  border-radius: 0!important;
}

.app-iconblok{
  font-size: 24px;
}

.app-list-blok li{
  margin: 1em;
}

.p-sombra{
  box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px #999;
}

.success{
  background: #7CAD56;
}

.sombra{
  box-shadow: 0px 0px 2px #999;
  -webkit-box-shadow: 0px 0px 2px #999;
  -moz-box-shadow: 0px 0px 2px #999;
}

.app-foto-perfil img{
  width: 150px;
  border: 2px solid #999;
}

.mt1em{
	margin-top: 1em;
}
.mb1em{
  margin-bottom: 1em;
}

.cn{
  color: #000;
}

.cr{
  color: #DC1F1F;
}

.bgn{
  background: #000 !important;
}

.br0{
  border-radius: 0;
}
.bcn{
  border-color: #000;
}

.pb0{
  padding-bottom: 0;
}

.mb0{
  margin-bottom: 0;
}

.derecha-flot{
	float: right;
}

.mt15em{
	margin-top: 1.5em;
}
.mt2em{
	margin-top: 2em;
}

.pl0{
  padding-left: 0 !important;
}

.pr0{
  padding-right: 0 !important;
}

.mt0{
  margin-top: 0;
}

.mb0{
  margin-bottom: 0;
}

.btn{
  border-radius: 0!important;
}

.navbar-white{
	background: #fff!important;
	border: #fff;
  z-index: 11;
  border-radius: 0;
}

.navbar-nav li:hover a{
  background: transparent !important;
}

.bg-info{
	background: #3b99d7;
}

.bg-orange{
  background: #F58634;
}

.cb{
  color: #fff;
}

.bg-morado{
  background: #664882;
}

.danger{
	background: #C8524B;
}

.app-profe{
	text-align: center;
}

.app-profe img{
	border-radius: 50%;
	width: 100px;
	border: 2px solid;
}

.app-profe h3{
	font-size: 20px;
}

.app-redes-inst{
	list-style: none;
    text-align: center;
    width: 150px;
    margin: 0 auto;

}

.app-redes-inst li{
	width: 30px;
	float: left;
	
}

.app-redes-inst li img{
	border-radius: 50%;
}

.app-duracion-curso div h5{
	font-size: 20px;
}


.app-logo{
  padding: 0px 15px;
}

.app-logo h1{
  margin-top: 0;
}


input.app-busqueda {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    
    font-size: 16px;
    background-color: white;
    background-image: url('../../estudiante/img/searchicon2.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.app-busqueda:focus {
    width: 100%;
    outline:0px;
}

.form-control{
	border-radius: 0;
}

.app-std-btn-busq:hover{
	background: transparent;
}

.app-std-btn-busq:hover i{
	font-size: 20px;
	transition: .2s;
}

.app-img-user{
	width: 50px;
	border-radius: 50%;
	border: 3px solid;
}

/***** ************ sidebar*** ***************/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/


/* Profile container */
.profile {
  margin: 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
  border-left-style: inset;
  border-left: 9px solid #5b9bd1;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/*************** fin de side bar*************************/

/************** imagen upload ****************/

.image-preview-input {
    position: relative;
  overflow: hidden;
  margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**************fin de imagen upload ********************/

.app-enviar-chat{
  margin-bottom: 1em;
}

.input-group, .input-group span, .input-group input{
  border-radius: 0!important;
}


/**************sidebar ***************/
body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 100px 0 0px 0;
    position: fixed;
    background: #f0f0f0;
    z-index: 9;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
}
#sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border: 1px solid #f0f0f0;
}

.list-group li a{
  background: transparent;
}

.app-active{
  background: #fff !important;
  border-left: 4px solid #2775D1;
  border-left-style: inset;
}

.list-group li a:hover{
  background: #fff;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        
        height:100%;
        max-height: 100%;
      border-right:0;
  }
}
.footer {
    background-color:#ffffff;
  bottom:0;
    position:fixed;
    padding:10px;
}

/*******************************/
#semanas{
  padding-left: 0;
  list-style: none;
}

/******** main **********/

.app-profe-detalle img{
  width: 100px;
}

.app-inline{
  width: 48%;
  display: inline-block;
}
/***************************/

/****** barra horizontal  ***********/

.contenedor-linea{
  margin-bottom: 5em;
}

.linea-horizontal{
  position: relative;
  width: 63%;
  margin: 2em auto;
  text-align: center;


}




/************* semana 1***********************/
.linea-interna-semana{
    height: 1px;
    background: #999;
    width: 150px;
    margin: -10px auto;
} 

.app-session:hover{
  text-decoration: none;
  color: #000;
}

.fs12{
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.cp{
  color: #999;
  font-family: 'Open Sans', sans-serif;
}

.glyphicon-play-circle{
  font-size: 22px;
}

.app-observaciones{
    position: absolute;
    background: #23527C;
    padding: 10px 1em;
    left: -6px;
    color: #fff;
}

.app-obs-detalle{
  position: relative;
}

.app-contenido-obs{
  margin-top: 3.5em;
}
/************************************/

/************* video ***********************/
.bgb{
  background: #fff;
}

.app-controlls{
  margin: 0 1em 5px 1em;
}

.app-controlls div{
  padding: 1.5em 0;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;

}

.app-controlls div a{
  color: #999999;
}

.app-controlls div span, .app-controlls div a{
  margin-left: 1em;
}

#app-resp-close{
  top: 1em;
  z-index: 10;
}

.app-video-like i{
  padding: 5px;
  cursor: pointer;
}

.app-resp-open{
  cursor: pointer;
}
/************************************/

/************* responsive menu sidebar********************/
#app-resp-close{
      display: none;
    }
.page-header{
  margin-top: 6.5em;
}

@media (max-width: 768px) {
  .page-header{
    margin-top: 7.5em;
  }
    .app-resp-open{
      display: block!important;

    }
    #sidebar-wrapper {
        position: absolute;
        max-height: 100%;
        height: 100%;
        z-index: 10;
        display: none;
    }
    #app-resp-close{
      display: block;
      font-size: 21px;
      top: 16px;
    }
    .app-controlls div{
      text-align: center;
    }

    .app-controlls div a, .app-controlls div span{
      margin-left: 0;
    }

    .app-logo h1 img{
      width: 213px;
    }
}

@media (max-width: 450px) {
    .app-resp-open{
      display: block!important;
    }
    #app-resp-close{
      display: block;
      font-size: 21px;
      top: 1px;
    }
    .page-header{
      margin-top: 6em;
    }
  }


.linea-resp{
  height: 2px;
  width: 80px;
  background: #6DDBF4;
  margin: 10px auto;
}

.app-preguntas-respuestas p .bien{
  background: #449D44;
  padding: 0 5px;
}

.app-preguntas-respuestas p .mal{
  background: #F7757E;
  padding: 0 5px;
}

.contenedor-resultado, .contenedor-resultado-bien{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.contenedor-resultado{
  background: #BA3F3C;
}

.contenedor-resultado-bien{
  background: #78A44E;
}

.contenedor-resultado span, .contenedor-resultado-bien span{

    padding: 15px 10px 10px 10px;
    font-size: 49px;
    color: #fff;

}