.panel{
  border-radius: 0!important;
}

.p-sombra{
  box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}

.success{
  background: #7CAD56;
}

.sombra{
  box-shadow: 0px 0px 8px #999;
  -webkit-box-shadow: 0px 0px 8px #999;
  -moz-box-shadow: 0px 0px 8px #999;
}

.app-foto-perfil img{
  width: 150px;
  border: 2px solid #999;
}

.mt1em{
	margin-top: 1em;
}
.mb1em{
  margin-bottom: 1em;
}
.cb{
	color: #fff;
}

.derecha-flot{
	float: right;
}

.mt15em{
	margin-top: 1.5em;
}
.mt2em{
	margin-top: 2em;
}

.btn{
  border-radius: 0!important;
}

.navbar-white{
	background: #fff!important;
	border: #fff;
  z-index: 11;
}

.navbar-nav li:hover a{
  background: transparent !important;
}

.bg-info{
	background: #3b99d7;
}

.bg-orange{
  background: #F58634;
}

.bg-morado{
  background: #664882;
}

.cb{
  color: #fff;
}

.danger{
	background: #C8524B;
}

.app-profe{
	text-align: center;
}

.app-profe img{
	border-radius: 50%;
	width: 100px;
	border: 2px solid;
}

.app-profe h3{
	font-size: 20px;
}

.app-redes-inst{
	list-style: none;
    text-align: center;
    width: 150px;
    margin: 0 auto;

}

.app-redes-inst li{
	width: 30px;
	float: left;
	
}

.app-redes-inst li img{
	border-radius: 50%;
}

.app-duracion-curso div h5{
	font-size: 20px;
}


.app-logo{
  padding: 0px 15px;
}

.app-logo h1{
  margin-top: 0;
}


input.app-busqueda {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    
    font-size: 16px;
    background-color: white;
    background-image: url('../../estudiante/img/searchicon2.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.app-busqueda:focus {
    width: 100%;
    outline:0px;
}

.form-control{
	border-radius: 0;
}

.app-std-btn-busq:hover{
	background: transparent;
}

.app-std-btn-busq:hover i{
	font-size: 20px;
	transition: .2s;
}

.app-img-user{
	width: 50px;
	border-radius: 50%;
	border: 3px solid;
}

/***** ************ sidebar*** ***************/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/


/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/*************** fin de side bar*************************/

/************** imagen upload ****************/


.image-preview-input {
    position: relative;
  overflow: hidden;
  margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**************fin de imagen upload ********************/

.app-enviar-chat{
  margin-bottom: 1em;
}

.input-group, .input-group span, .input-group input{
  border-radius: 0!important;
}

/***********test *********************/

.app-pregunta{
  padding:  1em;
  background: #EEEEEE;
}

.app-respuesta{
  padding:  1em;
  background: #E4F1FA;
}

/******** fin test ******************/

.app-logo h1 img{
  width: 240px;
}

/*****   discucion    ********/
.respuesta{
  position: relative;
}

.respuesta span:first-child{
  transform: rotateX(150deg);
  position: absolute;
  top: 2em;
  left: 1em;
  font-size: 20px;
}

.respuesta .panel{
  margin-left: 50px;
}

.panel-body p button{
  background: transparent;
  padding-right: 2px;
  outline: none;
}

.panel-body p button:active{
  box-shadow: none;
  outline: none;
}

.panel-body p button:focus{
  box-shadow: none;
  outline: none;
}

.panel-body h4 p{
  font-size: 12px;
  color: #999; 
}

.cpointer{
  cursor: pointer;
}

/*******fin de discucion*********/

.p2em{
  padding: 2em;
}

.respo-tabla-tutor,.app-respo-tabla-normal, .nomal-tabla-tutor{
  display: block;
}

.app-respo-tabla, .respo-tabla-tutor{
  display: none;
}


.app-linea{
  border-bottom: 3px solid #999999;
  text-align: center;
  position: relative;
  cursor: pointer;
}



.bolita{
  width: 14px;
  height: 14px;
  position: absolute;
  background: #999999;
  bottom: -8px;
  right: 48%;
  border-radius: 50%;
}

.active-linea{
  border-bottom: 3px solid #9DBBD3;
}

.active-bolita{
  width: 17px;
  height: 17px;
  background: #9DBBD3;
  
}


