.panel{
  border-radius: 0!important;
}

.app-iconblok{
  font-size: 24px;
}

.app-list-blok li{
  margin: 1em;
}

.p-sombra{
  box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px #999;
}

.success{
  background: #5cb85c;
}

.sombra{
  box-shadow: 0px 0px 2px #999;
  -webkit-box-shadow: 0px 0px 2px #999;
  -moz-box-shadow: 0px 0px 2px #999;
}

.app-foto-perfil img{
  width: 150px;
  border: 2px solid #999;
}

.mt1em{
	margin-top: 1em;
}
.mb1em{
  margin-bottom: 1em;
}
.cb{
	color: #fff;
}

.cn{
  color: #000;
}

.bgn{
  background: #000 !important;
}

.br0{
  border-radius: 0;
}
.bcn{
  border-color: #000;
}

.pb0{
  padding-bottom: 0;
}

.mb0{
  margin-bottom: 0;
}

.derecha-flot{
	float: right;
}

.mt15em{
	margin-top: 1.5em;
}
.mt2em{
	margin-top: 2em;
}

.btn{
  border-radius: 0!important;
}

.navbar-white{
	background: #fff!important;
	border: #fff;
}

.navbar-nav li:hover a{
  background: transparent !important;
}

.bg-info{
	background: #3b99d7;
}

.bg-orange{
  background: #e84c3d;
}

.cb{
  color: #fff;
}

.danger{
	background: #d9534f;
}

.app-profe{
	text-align: center;
}

.app-profe img{
	border-radius: 50%;
	width: 100px;
	border: 2px solid;
}

.app-profe h3{
	font-size: 20px;
}

.app-redes-inst{
	list-style: none;
    text-align: center;
    width: 150px;
    margin: 0 auto;

}

.app-redes-inst li{
	width: 30px;
	float: left;
	
}

.app-redes-inst li img{
	border-radius: 50%;
}

.app-duracion-curso div h5{
	font-size: 20px;
}


.app-logo{
  padding: 0px 15px;
}

.app-logo h1{
  margin-top: 0;
}


input.app-busqueda {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    
    font-size: 16px;
    background-color: white;
    background-image: url('../../estudiante/img/searchicon2.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.app-busqueda:focus {
    width: 100%;
    outline:0px;
}

.form-control{
	border-radius: 0;
}

.app-std-btn-busq:hover{
	background: transparent;
}

.app-std-btn-busq:hover i{
	font-size: 20px;
	transition: .2s;
}

.app-img-user{
	width: 50px;
	border-radius: 50%;
	border: 3px solid;
}

/***** ************ sidebar*** ***************/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/


/* Profile container */
.profile {
  margin: 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
  border-left-style: inset;
  border-left: 9px solid #5b9bd1;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/*************** fin de side bar*************************/

/************** imagen upload ****************/


.image-preview-input {
    position: relative;
  overflow: hidden;
  margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**************fin de imagen upload ********************/

.app-enviar-chat{
  margin-bottom: 1em;
}

.input-group, .input-group span, .input-group input{
  border-radius: 0!important;
}


/**************sidebar ***************/
body {
    padding-top: 50px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 100px 0 0px 0;
    position: fixed;
    background: #f0f0f0;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
}
#sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border: 1px solid #f0f0f0;
}

.list-group li a{
  background: transparent;
}

.active{
  background: #fff !important;
  border-left: 4px solid #2775D1;
  border-left-style: inset;
}

.list-group li a:hover{
  background: #fff;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
      border-right:0;
  }
}
.footer {
    background-color:#ffffff;
  bottom:0;
    position:fixed;
    padding:10px;
}

/*******************************/
#semanas{
  padding-left: 0;
  list-style: none;
}

/******** main **********/

.app-profe-detalle img{
  width: 100px;
}

.app-inline{
  width: 48%;
  display: inline-block;
}
/***************************/

/****** barra horizontal  ***********/

.contenedor-linea{
  margin-bottom: 5em;
}

.linea-horizontal{
  position: relative;
  width: 63%;
  margin: 2em auto;
  text-align: center;


}


/*********************************/